#Android/Java specific
target
build
bin
gen
gen-external-apklibs
proguard
proguard_logs
lint.xml
local.properties
release.properties
*.class
*.apk

#Maven
pom.xml

#Gradle
.gradle

#Eclipse
.project
.classpath
.settings
.metadata

#IntelliJ IDEA
.idea
*.iml

#Other
.pmd
reports