<?xml version="1.0" encoding="utf-8"?><!--
  ~ This file is part of Prepay Credit for Android
  ~
  ~ Copyright © 2013  Damien O'Reilly
  ~
  ~ Prepay Credit for Android is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Prepay Credit for Android is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Prepay Credit for Android.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~ Report bugs or new features at: https://github.com/DamienOReilly/PrepayCredit
  ~ Contact the author at:          damienreilly@gmail.com
  -->

<manifest
    package="damo.three.ie"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    android:versionCode="15"
    android:versionName="0.13">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".PrepayCreditApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_actionbar_icon">

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PrepayCreditActivity"
            android:label="@string/app_name"
            android:theme="@style/ActionBarCustom" />
        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/ActionBarCustom" />
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activity.InternetExpirationActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/about_activity_title"
            android:theme="@style/ActionBarCustom" />

        <receiver
            android:name=".prepay.InternetAddonExpireReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".prepay.InternetAddonAlarmManagerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".prepay.UpdateAlarmManagerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".prepay.UpdateReceiver"
            android:exported="false"></receiver>
        <receiver
            android:name=".prepay.ConnectivityReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".prepay.UpdateService"
            android:exported="false" />

    </application>

</manifest>